* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    text-transform: capitalize;
}


.my-container {

    .my-row {

        .my-col {
            background-color: #E8ECF1;

            .king {
                background-image: linear-gradient(rgb(255, 167, 221), rgb(193, 253, 255));

                .input-div {

                    input {
                        width: 19rem;
                        height: 8rem;
                        font-size: 3rem;
                    }
                }

                .btn-div {

                    .first-part-btn {

                        button {
                            width: 9rem;
                            height: 4rem;
                            font-weight: 900;
                            font-size: 1.5rem;
                        }

                        #ac-btn {
                            color: white;
                            background-color: rgb(255, 155, 182);
                            box-shadow: 0px 5px 4px 0px rgb(255, 85, 130);
                            transition: box-shadow .2s ease-in-out;

                            &:hover {
                                box-shadow: 0px 0px 0px 0px;
                                transition: box-shadow .2s ease-in-out;
                            }

                            &:active {
                                background-color: rgb(235, 119, 150);
                                transition: background-color .1s ease-in-out;
                            }
                        }

                        #enter-btn {
                            color: white;
                            background-color: rgb(170, 211, 255);
                            box-shadow: 0px 5px 4px 0px rgb(85, 167, 255);
                            transition: box-shadow .2s ease-in-out;

                            &:hover {
                                box-shadow: 0px 0px 0px 0px;
                                transition: box-shadow .2s ease-in-out;
                            }

                            &:active {
                                background-color: rgb(141, 188, 238);
                                transition: background-color .1s ease-in-out;
                            }

                        }
                    }

                    .second-part-btn {

                        button {
                            width: 4rem;
                            height: 4rem;
                            border-radius: 50%;
                            font-weight: 900;
                            color: white;
                            background-color: rgb(210, 170, 211);
                            box-shadow: 0px 5px 4px 0px rgb(189, 75, 191);
                            font-size: 1.5rem;
                            transition: box-shadow .2s ease-in-out;

                            &:hover {
                                box-shadow: 0px 0px 0px 0px;
                                transition: box-shadow .2s ease-in-out;
                            }

                            &:active {
                                background-color: rgb(193, 125, 194);
                                transition: background-color .1s ease-in-out;
                            }

                        }

                        #zero-btn {
                            width: 9rem;
                        }

                    }
                }
            }
        }
    }
}