*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    text-transform: capitalize;
}


.my-container{

    .my-row{

        .my-col{

            .king{

                .input-div{

                    input{
                        width: 19rem;
                        height: 8rem;
                        font-size: 3rem;
                    }
                }

                .btn-div{

                    .first-line-btn{
                        
                        button{
                            width: 9rem;
                            height: 4rem;
                            font-weight: 800;
                        }
                    }

                    .second-line-btn{
                        
                        button{
                            width: 4rem;
                            height: 4rem;
                            border-radius: 50%;
                            font-weight: 800;
                        }
                    }

                    .third-line-btn{
                        
                        button{
                            width: 4rem;
                            height: 4rem;
                            border-radius: 50%;
                            font-weight: 800;
                        }
                    }

                    .forth-line-btn{
                        
                        button{
                            width: 4rem;
                            height: 4rem;
                            border-radius: 50%;
                            font-weight: 800;
                        }
                    }

                    .fifth-line-btn{
                        
                        button{
                            width: 4rem;
                            height: 4rem;
                            border-radius: 50%;
                            font-weight: 800;
                        }

                        #zero{
                            width: 9rem;
                        }
                    }
                }
            }
        }
    }
}
