* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    text-transform: capitalize;
}


.my-container {

    .my-row {

        .my-col {
            background-color: #E8ECF1;

            .king {
                background-image: linear-gradient(rgb(255, 167, 221), rgb(193, 253, 255));

                .input-div {

                    input {
                        width: 19rem;
                        height: 8rem;
                        font-size: 3rem;
                    }
                }

                .btn-div {

                    .first-line-btn {

                        button {
                            width: 9rem;
                            height: 4rem;
                            font-weight: 900;
                            font-size: 1.5rem;
                        }

                        #ac-btn {
                            color: white;
                            background-color: rgb(255, 155, 182);
                            box-shadow: 0px 5px 2px 0px rgb(255, 85, 130);
                        }

                        #enter-btn {
                            color: white;
                            background-color: rgb(170, 211, 255);
                            box-shadow: 0px 5px 2px 0px rgb(85, 167, 255);
                        }
                    }

                    .second-line-btn {

                        button {
                            width: 4rem;
                            height: 4rem;
                            border-radius: 50%;
                            font-weight: 900;
                            color: white;
                            background-color: rgb(210, 170, 211);
                            box-shadow: 0px 5px 2px 0px rgb(189, 75, 191);
                            font-size: 1.5rem;

                        }
                    }

                    .third-line-btn {

                        button {
                            width: 4rem;
                            height: 4rem;
                            border-radius: 50%;
                            font-weight: 900;
                            background-color: rgb(210, 170, 211);
                            color: white;
                            box-shadow: 0px 5px 2px 0px rgb(189, 75, 191);
                            font-size: 1.5rem;

                        }
                    }

                    .forth-line-btn {

                        button {
                            width: 4rem;
                            height: 4rem;
                            border-radius: 50%;
                            font-weight: 900;
                            background-color: rgb(210, 170, 211);
                            color: white;
                            box-shadow: 0px 5px 2px 0px rgb(189, 75, 191);
                            font-size: 1.5rem;

                        }
                    }

                    .fifth-line-btn {

                        button {
                            width: 4rem;
                            height: 4rem;
                            border-radius: 50%;
                            font-weight: 900;
                            background-color: rgb(210, 170, 211);
                            color: white;
                            box-shadow: 0px 5px 2px 0px rgb(189, 75, 191);
                            font-size: 1.5rem;

                        }

                        #zero-btn {
                            width: 9rem;
                        }
                    }
                }
            }
        }
    }
}